.panel {
    display: block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    color: white;
    width: 600px;
    height: 90px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.blue {
    background-color: #889eff;
}

.red {
    background-color: #fd5d5d;
}

.number {
    font-size: 70px;
}

.word {
    padding-top: 0px;
    font-size: 56px;
}

.score {
    position: absolute;
    display: block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 100px;
    margin: 10px;
    background-color: #889eff;
}

.adminbtn
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.panelcontrolsrow {
  width: 48%;
  margin: 0 auto;
}

.panelcontrols{
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#team1 {
    left: 0px;
    top: 500px;
}

#team2 {
  right: 0px;
  top: 500px;
}