.content {
    margin: 0 auto;
    text-align: center;
}

.panel {
    display: block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    color: white;
    width: 800px;
    height: 130px;
    text-align: center;
    margin: 20px auto;
}

.blue {
    background-color: #889eff;
}

.red {
    background-color: #fd5d5d;
}

.number {
    font-size: 70px;
}

.word {
    padding-top: 0px;
    font-size: 56px;
}

.score {
    position: absolute;
    top: 450px;
    display: block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 100px;
    margin: 10px;
    background-color: #889eff;
}

.adminbtn {
    margin: 5px auto;
}

.panelcontrols{
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

#team1 {
  left: 0px;
}

#team2 {
  right: 0px;
}