@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <input type="button" class="control" data="1" id="control1" value="Visa ruta 1" />
    </div>
    <div class="row">
        <input type="button" class="control" data="2" id="control2" value="Visa ruta 2" />
    </div>
    <div class="row">
        <input type="button" class="control" data="3" id="control3" value="Visa ruta 3" />
    </div>
    <div class="row">
        <input type="button" class="control" data="4" id="control4" value="Visa ruta 4" />
    </div>
    <div class="row">
        <input type="button" class="control" data="5" id="control5" value="Visa ruta 5" />
    </div>
    <div class="row">
        <input type="button" class="control" data="6" id="control6" value="Visa ruta 6" />
    </div>
    <div class="row">
        <input type="button" id="next" value="Nästa låt" />
    </div>
    <div class="row">
        <input type="button" id="reset" value="Återställ" />
    </div>
    <div class="row">
        <input type="button" id="givescoreteam1" value="Team 1 +1" />
    </div>
    <div class="row">
        <input type="button" id="givescoreteam2" value="Team 2 +1" />
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/admin.js"></script>