@page
<div class="container">
    <div class="score" id="team1">0</div>
    <div class="row">
        <div class="panel blue number" id="1">1</div>
    </div>
    <div class="row">
        <div class="panel blue number" id="2">2</div>
    </div>
    <div class="row">
        <div class="panel blue number" id="3">3</div>
    </div>
    <div class="row">
        <div class="panel blue number" id="4">4</div>
    </div>
    <div class="row">
        <div class="panel blue number" id="5">5</div>
    </div>
    <div class="row">
        <div class="panel blue number" id="6">6</div>
    </div>
    <div class="score" id="team2">0</div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="~/js/game.js"></script>