@page
@model  SaSkaDetLata.Pages.NewSongModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ny låt</title>
</head>
<body>
    <h3>Ny låt - Så Ska Det Låta</h3>
    <form method="post">
        <div class="form-group">
            <label for="artist">Artist</label>
            <input type="text" class="form-control" placeholder="Artistens namn (ex. Carola eller Lars Winnerbäck)" asp-for="NewSong.ArtistName">
            <label for="songname">Låtnamn</label>
            <input type="text" class="form-control" placeholder="Låtens namn (ex. Främling eller Kom Änglar)" asp-for="NewSong.SongName">
            <label for="lyrics">Text</label>
            <textarea rows="8" cols="50" class="form-control" placeholder="Del av låtens text. Helst samma del av låten som de numrerade luckorna nedan." asp-for="NewSong.Lyrics"></textarea>
        </div>
        <h4>Luckor</h4>
        <p>Välj 2st röda ord.</p>
        @for (int i = 0; i < 6; i++)
        {
            int panelNumber = i + 1;
            <div class="form-row">
                <div class="form-group col-1">
                    <input asp-for="NewSong.Panels[i].Number" type="text" readonly class="form-control-plaintext" value="@(panelNumber)" />
                </div>
                <div class="form-group col-4">
                    <input asp-for="NewSong.Panels[i].Word" type="text" class="form-control" placeholder="Ord" />
                </div>
                <div class="form-group col-2" style="margin-left: 40px;">
                    <input asp-for="NewSong.Panels[i].Red" type="checkbox" class="custom-control-input" id="red@(i)" />
                    <label class="custom-control-label" for="red@(i)">Rött ord</label>
                </div>
            </div>
        }
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
