@page
@model SaSkaDetLata.Pages.NewSongModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewSong</title>
</head>
<body>
    <h3>Ny låt - Så Ska Det Låta</h3>
    <form action="/onsubmit" method="post">
        <div class="form-group">
            <label for="artist">Artist</label>
            <input type="text" class="form-control" name="artist" placeholder="Artistens namn (ex. Carola eller Lars Winnerbäck)">
            <label for="songname">Låtnamn</label>
            <input type="text" class="form-control" name="songname" placeholder="Låtens namn (ex. Främling eller Kom Änglar)">
            <label for="lyrics">Text</label>
            <textarea rows="8" cols="50" class="form-control" name="lyrics" placeholder="Del av låtens text. Helst samma del av låten som de numrerade luckorna nedan."></textarea>
        </div>
        <h4>Luckor</h4>
        <p>Välj 2st röda ord.</p>
        <div class="form-row">
            <div class="form-group col-1">
                <input type="text" readonly class="form-control-plaintext" value="1" name="word1number"/>
            </div>
            <div class="form-group col-4">
                <input type="text" class="form-control" name="word1" placeholder="Ord" />
            </div>
            <div class="form-group col-2" style="margin-left: 40px;">
                <input type="checkbox" class="custom-control-input" name="word1red" id="word1red"/>
                <label class="custom-control-label" for="word1red">Rött ord</label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-1">
                <input type="text" readonly class="form-control-plaintext" value="2" name="word2number"/>
            </div>
            <div class="form-group col-4">
                <input type="text" class="form-control" name="word2" placeholder="Ord" />
            </div>
            <div class="form-group col-2" style="margin-left: 40px;">
                <input type="checkbox" class="custom-control-input" name="word2red" id="word2red"/>
                <label class="custom-control-label" for="word2red">Rött ord</label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-1">
                <input type="text" readonly class="form-control-plaintext" value="3" name="word3number"/>
            </div>
            <div class="form-group col-4">
                <input type="text" class="form-control" name="word3" placeholder="Ord" />
            </div>
            <div class="form-group col-2" style="margin-left: 40px;">
                <input type="checkbox" class="custom-control-input" name="word3red" id="word3red"/>
                <label class="custom-control-label" for="word3red">Rött ord</label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-1">
                <input type="text" readonly class="form-control-plaintext" value="4" name="word4number"/>
            </div>
            <div class="form-group col-4">
                <input type="text" class="form-control" name="word4" placeholder="Ord" />
            </div>
            <div class="form-group col-2" style="margin-left: 40px;">
                <input type="checkbox" class="custom-control-input" name="word4red" id="word4red"/>
                <label class="custom-control-label" for="word4red">Rött ord</label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-1">
                <input type="text" readonly class="form-control-plaintext" value="5" name="word5number"/>
            </div>
            <div class="form-group col-4">
                <input type="text" class="form-control" name="word5" placeholder="Ord" />
            </div>
            <div class="form-group col-2" style="margin-left: 40px;">
                <input type="checkbox" class="custom-control-input" name="word5red" id="word5red"/>
                <label class="custom-control-label" for="word5red">Rött ord</label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-1">
                <input type="text" readonly class="form-control-plaintext" value="6" name="word6number" />
            </div>
            <div class="form-group col-4">
                <input type="text" class="form-control" name="word6" placeholder="Ord" />
            </div>
            <div class="form-group col-2" style="margin-left: 40px;">
                <input type="checkbox" class="custom-control-input" name="word6red" id="word6red"/>
                <label class="custom-control-label" for="word6red">Rött ord</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
